@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nunito&family=Roboto&display=swap");

// Breakpoint
$tablet: 1024px;
$mobile: 430px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(20, 20, 20);
  user-select: none;

  .just-bg {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/bg/main_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;

    .overlay {
      height: 100vh;
      width: 100vw;
      transition: opacity 1.5s ease-in;
      background-color: rgb(20, 20, 20);
      opacity: 1;
    }
  }

  .box-switch {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.8);
    z-index: 1;

    #switch {
      height: 120px;
      width: 80px;
      background-color: #777;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      transition: all 0.8s ease-out;

      .baut-1 {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #444;
        position: absolute;
        top: 2px;
        left: 2px;
      }

      .baut-2 {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #444;
        position: absolute;
        top: 2px;
        right: 2px;
      }

      .baut-3 {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #444;
        position: absolute;
        bottom: 2px;
        left: 2px;
      }

      .baut-4 {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #444;
        position: absolute;
        bottom: 2px;
        right: 2px;
      }

      .btn {
        height: 80px;
        width: 40px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        cursor: pointer;

        #onPos {
          height: 40%;
          width: 100%;
          background-color: #aaa;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;

          .on-sign {
            height: 50%;
            width: 5px;
            background-color: #fff;
          }
        }

        #offPos {
          height: 40%;
          width: 100%;
          background-color: #bbb;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;

          .off-sign {
            height: 70%;
            width: 60%;
            border-radius: 50%;
            border: 5px solid #fff;
          }
        }

        .shadow-btn {
          top: 0;
          bottom: auto;
          position: absolute;
          height: 20%;
          width: 100%;
          background-color: #888;
          border-radius: 3px;
        }
      }
    }
  }

  .box-home {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;

    .box-brand {
      width: 0px;
      position: absolute;
      top: 5vh;
      left: 5vw;
      overflow-x: hidden;
      transition: width 0.5s ease-in-out;

      img {
        width: 200px;
      }
    }

    .lamp {
      margin: auto;
      height: 100vh;
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform 0.5s ease-in-out;

      .hanger {
        height: 100px;
        width: 8px;
        background-color: rgb(40, 40, 40);
      }

      .fiting {
        height: 15px;
        width: 40px;
        background-color: rgb(40, 40, 40);
      }

      .trapezoid {
        height: 0;
        width: 150px;
        border-bottom: 25px solid rgb(40, 40, 40);
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        z-index: 1;
      }

      #bulb {
        height: 70px;
        transform: translateY(-15px);
      }

      #lightning {
        height: 450;
        width: 400;
        display: none;
        opacity: 0.2;

        img {
          height: 450;
          width: 400;
        }
      }
    }

    .text-center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: sans-serif;
      transition: transform 0.5s ease-in-out;

      .txt-box {
        height: max-content;
        margin: 5px;
        display: flex;
        overflow-y: hidden;

        #word1 {
          height: max-content;
          font-size: 4.5rem;
          font-family: "Roboto", cursive;
          font-weight: 900;
          align-self: flex-end;
          transform: translateY(100%);
          transition: all 0.5s ease-out;
          color: #ddd;
        }

        #word2 {
          height: max-content;
          font-family: "Roboto";
          font-size: 4rem;
          font-weight: 500;
          transform: translateY(-100%);
          transition: all 0.5s ease-out;
          color: #aaa;
        }
      }
    }

    .find-me {
      bottom: 3vh;
      left: 5vw;
      width: 300px;
      position: absolute;

      #subTitle {
        font-family: "Nunito", sans-serif;
        color: #aaa;
        font-weight: 700;
        margin-bottom: 10px;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      .box-icon {
        a {
          text-decoration: none;

          .soc-icon {
            margin-right: 8px;
            height: 30px;
            width: 30px;
            opacity: 0;
            transition: all 0.5s ease-in-out;
          }

          .w-hover {
            opacity: 0.2;
            transition: all 0.2s ease-in-out;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    .v-menu {
      height: 100vh;
      width: 80px;
      position: absolute;
      top: 0px;
      right: 1vw;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      overflow: hidden;

      .menu-list {
        transform: rotateZ(-90deg) translateY(100px);
        padding-bottom: 8px;
        width: 10px;
        border-bottom: 3px solid #49a26f;
        color: rgba(136, 136, 136, 0.5);
        font-family: "Nunito", sans-serif;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 1px;
        white-space: nowrap;
        cursor: pointer;
        transition: color 0.1s ease-in-out, transform 1s ease-in-out;

        &:hover {
          color: rgba(136, 136, 136, 0.9);
        }
      }
    }

    .container-info {
      height: 5px;
      width: 0;
      // height: 100vh;
      // width: 50vw;
      background-color: rgba(30, 30, 30, 0.95);
      position: absolute;
      top: 50%;
      // top: 0;
      right: 0;
      transition: all 0.3s ease-in-out;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .info-box {
        height: 90vh;
        width: 100%;
        overflow-y: scroll;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      #me {
        display: none;
        opacity: 0;
        position: relative;
        transition: all 0.3s ease-in-out;

        .filter {
          background-image: url("../img/bg/profile_bg.jpg");
          background-repeat: no-repeat;
          background-position-x: -200px;
          background-size: cover;
          position: absolute;
          right: 0;
          height: 95%;
          width: 35%;
          filter: grayscale(1);
          box-shadow: inset 15px -10px 30px 40px rgb(30, 30, 30);
        }

        .info-detail {
          height: 100%;
          width: 65%;
          padding: 10px 20px;

          h2 {
            font-family: "Lato", sans-serif;
            color: #eee;
            text-shadow: 0px 0px 15px rgba(40, 40, 40, 0.95);
            width: max-content;
            font-size: 2rem;
            margin: 25px 15px;

            &::after {
              content: "";
              display: block;
              height: 5px;
              width: 75px;
              background-color: #49a26f;
              transform: translateX(25%);
              border-radius: 25px;
            }
          }

          p {
            font-family: "Nunito", sans-serif;
            color: #eee;
            text-shadow: 15px 15px 10px rgb(40, 40, 40);
            font-size: 1.2rem;
            letter-spacing: 1.5px;
          }

          #life-path {
            font-family: "Nunito", sans-serif;
            color: #eee;
            font-size: 1.3rem;
            letter-spacing: 1.5px;
            font-weight: bold;

            &::after {
              content: "";
              display: block;
              height: 3px;
              width: 50px;
              background-color: #49a26f;
              transform: translateX(10px);
              border-radius: 25px;
            }
          }
          .edu {
            margin-top: 15px;
            margin-left: 30px;
            font-family: "Nunito", sans-serif;
            color: #eee;
            font-size: 1.2rem;
            letter-spacing: 1.5px;

            p {
              margin-left: 10px;
              span {
                color: #49a26f;
              }
            }

            .scnd-line {
              margin-left: 16px;
            }
          }

          .work-exp {
            margin-top: 15px;
            margin-left: 30px;
            font-family: "Nunito", sans-serif;
            color: #eee;
            font-size: 1.2rem;
            letter-spacing: 1.5px;

            p {
              margin-left: 10px;
              span {
                color: #49a26f;
              }
            }

            .scnd-line {
              margin-left: 16px;
            }
          }
        }
      }

      #workshop {
        opacity: 0;
        position: relative;
        transition: all 0.3s ease-in-out;
        display: none;
        padding: 10px 25px;

        h2 {
          font-family: "Lato", sans-serif;
          color: #eee;
          width: max-content;
          font-size: 2rem;
          margin: 15px;

          &::after {
            content: "";
            display: block;
            height: 5px;
            width: 75px;
            background-color: #49a26f;
            transform: translateX(25%);
            border-radius: 25px;
          }
        }

        p {
          font-family: "Nunito", sans-serif;
          color: #eee;
          font-size: 1.2rem;
          letter-spacing: 1.5px;
        }

        // !!!!!!!!!!!!!!! TEMPORARY !!!!!!!!!!!!!!!!!!!!!!!!
        .cert-box {
          padding: 20px;
          height: 80%;
          width: 100%;
          background-color: rgba(40, 40, 40, 0.95);
          margin-top: 15px;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .cert-card {
            width: 100%;
            height: 30%;
            background-color: rgba(30, 30, 30, 0.95);
            border-radius: 8px;
            display: flex;

            .cert-img {
              height: 100%;
              width: 40%;
              padding: 5px;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 80%;
                max-width: 230px;
              }
            }

            .cert-info {
              height: 100%;
              width: 60%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              padding: 10px;

              h3 {
                margin: 8px 0px;
                font-size: 1.1rem;
                color: #49a26f;
                font-family: "Nunito", sans-serif;
                text-align: center;
              }

              p {
                font-size: 1rem;

                span {
                  font-style: italic;
                }
              }

              .cert-detail-btn {
                align-self: flex-end;
                width: max-content;
                font-size: 0.8rem;
                padding: 5px 15px;
                margin-right: 15px;
                background-color: #49a26f;
                border-radius: 25px;
                color: #fff;
                font-family: "Nunito", sans-serif;
                cursor: pointer;
                opacity: 0.6;
                transition: opacity 0.1s ease-in-out;

                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      #collabs {
        opacity: 0;
        position: relative;
        transition: all 0.3s ease-in-out;
        display: none;
        padding: 15px 25px;

        h2 {
          font-family: "Lato", sans-serif;
          color: #eee;
          width: max-content;
          font-size: 2rem;
          margin: 15px;

          &::after {
            content: "";
            display: block;
            height: 5px;
            width: 75px;
            background-color: #49a26f;
            transform: translateX(25%);
            border-radius: 25px;
          }
        }

        p {
          font-family: "Nunito", sans-serif;
          color: #eee;
          font-size: 1.2rem;
          letter-spacing: 1.5px;

          a {
            text-decoration: none;
            color: #fff;
            font-style: italic;
          }
        }

        #tele,
        #mailme {
          color: #49a26f;

          &:hover {
            color: hsl(146, 38%, 60%);
          }
        }

        .form-box {
          height: max-content;
          padding: 25px;
          margin: 15px 0px;
          border: 2px solid #49a26f;
          border-radius: 25px;
          background-color: rgba(40, 40, 40, 0.95);

          input {
            margin-top: 8px;
            margin-bottom: 15px;
            padding-left: 25px;
            width: 100%;
            height: 40px;
            background-color: rgba(30, 30, 30, 0.95);
            border: none;
            border-radius: 5px;
            color: #666;
            font-family: "Nunito", sans-serif;
            font-size: 1.2rem;
            font-weight: bold;
            caret-color: #49a26f;
            outline: none;

            &:focus {
              border-bottom: 2px solid #49a26f;
            }

            &:valid {
              color: #49a26f;
              border-bottom: 2px solid #49a26f;
              font-weight: normal;
            }
          }

          textarea {
            margin-top: 8px;
            margin-bottom: 15px;
            padding: 10px 20px;
            background-color: rgba(30, 30, 30, 0.95);
            width: 100%;
            height: 200px;
            border: none;
            outline: none;
            caret-color: #49a26f;
            resize: none;
            border-radius: 5px;
            color: #666;
            font-family: "Nunito", sans-serif;
            font-size: 1.2rem;
            font-weight: bold;

            &:focus {
              box-shadow: 2px 0px 15px #555;
            }
            &:valid {
              font-weight: normal;
              color: #49a26f;
              box-shadow: 2px 0px 15px #555;
            }
          }
        }

        .sendIt {
          margin: 0px auto;
          padding: 5px 30px;
          border-radius: 25px;
          font-family: "Nunito", sans-serif;
          width: max-content;
          background-color: #49a26f;
          opacity: 0.5;
          cursor: pointer;
          transition: all 0.1s ease-in-out;

          &:hover {
            opacity: 1;
            color: #fff;
          }
        }
      }

      .cls-btn {
        background-color: rgba(68, 68, 68, 0.2);
        box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.2);
        height: 7vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        span {
          opacity: 0;
          margin-right: 25px;
          padding: 5px 15px;
          font-family: "Nunito", sans-serif;
          font-weight: 900;
          color: #222;
          background-color: rgba(247, 244, 108, 0.5);
          border-radius: 25px;
          cursor: pointer;
          transition: background-color 0.2s ease-in-out,
            opacity 0.3s ease-in-out;

          &:hover {
            background-color: rgb(247, 244, 108);
          }
        }
      }
    }
  }

  @media (max-width: $tablet) {
    .box-home {
      .box-brand {
        top: 3vh;
        left: 3vh;
      }

      .v-menu {
        .menu-list {
          width: 20px;
        }
      }

      .text-center {
        width: 80vw;
      }

      .container-info {
        #me {
          .filter {
            height: 50%;
            width: 50%;
            top: 0;
            background-position-x: center;
          }

          .info-detail {
            height: max-content;
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        #workshop {
          .cert-box {
            .cert-card {
              .cert-img {
                img {
                  width: 95%;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: $mobile) {
    .box-home {
      .box-brand {
        img {
          width: 150px;
        }
      }

      .find-me {
        bottom: 2vh;
        left: 2vw;
        transform: scale(0.8);
      }

      .text-center {
        .txt-box {
          #word1 {
            font-size: 3.5rem;
          }

          #word2 {
            font-size: 3rem;
          }
        }
      }

      .v-menu {
        .menu-list {
          font-size: 1.1rem;
        }
      }

      .container-info {
        justify-content: space-between;

        .info-box {
          overflow-y: scroll;
        }

        #me {
          .filter {
            height: 60vh;
            width: 60vw;
          }

          .info-detail {
            height: 90vh;
            overflow-y: scroll;
            h2 {
              font-size: 1.5rem;
              margin: 15px 0px;
            }

            p {
              font-size: 1.1rem;
              line-height: 20px;
            }

            .edu,
            .work-exp {
              margin-left: 15px;
            }
          }
        }

        #workshop {
          height: 90vh;

          h2 {
            margin: 10px 15px;
          }

          p {
            font-size: 1.1rem;
            line-height: 20px;
          }

          .cert-box {
            padding: 8px;

            .cert-card {
              .cert-info {
                h3 {
                  font-size: 1rem;
                  line-height: 22px;
                }

                .detail-box {
                  p {
                    font-size: 0.8rem;
                    line-height: 20px;
                  }
                }

                .cert-detail-btn {
                  transform: scale(0.9);
                }
              }
            }
          }
        }

        #collabs {
          height: 90vh;
          padding: 8px 15px;

          h2 {
            font-size: 1.8rem;
            margin: 10px 15px;
          }

          p {
            font-size: 1.05rem;
            line-height: 20px;
          }

          .form-box {
            padding: 15px;
          }
        }

        .cls-btn {
          background-color: rgba(68, 68, 68, 0.2);
          box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
